*{
    padding:0;
    margin:0;
    font-family:sans-serif;
}
nav{
    /* position:sticky;
    top:0; */
    padding:0 5%;
}
nav img{
    width:40px;
    border-radius:50%;
}
ul li a{
    margin-right:20px;
}